.graphActivity-container {
  padding: 16px 0px;
  padding-left: 32px;
  background-color: #f7f7f7;
  height: fit-content;
  border-radius: 5px;
  width: 100%;
  height: 320px;
  margin-top: 40px;
  /*display: flex;
  position: relative;*/
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.112249);
}

.recharts-bar .recharts-bar-rectangle .recharts-rectangle:hover {
  fill: red;
}

.graphActivity-tooltip {
  background-color: "#E60000";
  outline: "none";
  border: "none";
  display: "flex";
  flex-direction: "column";
  font-size: 8px;
  margin: 6px 12px;
}

.graphActivity-tooltip p {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #fff;
}
