#root {
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main {
  width: 100%;
  background-color: #f0f0f0; /* #eaeaea */
}

section {
  width: 100%;
  display: flex;
  color: black;
  flex-direction: row;
}

.graphsSubSection {
  padding: 68px 106px;
  flex-grow: 0;
  flex-shrink: 1;
}

.textnGraphsContainer {
  display: flex;
  flex-direction: row;
  width: 75%;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2rem;
}

/*  padding: 106px 68px;*/
